body {
    font-family: "Roboto",  "Raleway", sans-serif;
    background-color: #FFFFFF;
    width: 1440px;
    height: 3300px; 
}

header {
    width: 1440px;
    height: 72px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.web{
    color: #4d5ae5;
}

 .logo:hover,
 .logo:focus{
    color: #404BBF;
}

header > ul .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: start;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.contacts{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts .link:hover,
.contacts .link:focus{
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
    color: #fff;
    width: 1440px;
    height: 600px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
.hero > h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.hero .order {
    border: 1px solid #000;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
}

.part_2 {
    width: 1128px;
    height: 104px;
}

.part_2 > h2 {
    visibility: hidden;
}

.feature > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.feature > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.part_3 {
    background-color: #E7E9FC;
    width: 1440px;
    height: 732px;
}

.part_3 .team > h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.part_3 .team > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.part_4 {
    width: 1128px;
    height: 1000px; 
}

.part_4 .portfolio > h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.part_4 .portfolio > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

footer > p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}