
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 a {
    text-decoration: none;
 }

img {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
}
/*_____________________________________________________Header___________________________________________________________________*/

.header {
    border-bottom: 1px solid #e7e9fc;
}

.container {
    width: 1158px;
    margin: 0;
    padding: 0 15px;
}

.header .container {
    display: flex; 
}



.container .navigation {
    display: flex;
    align-items: center;

}
.navigation .title {
    display: flex;
    gap: 40px;
    padding: 24px 0;
}

.title > li :not(:last-child){
    margin-right: 40px;
}

.navigation .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    margin-right: 76px;
}

    
.contacts .our_contacts {
    display: flex;
    align-items: center;
    gap: 40px;

    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
    
.our_contacts .link :not(:last-child) {
    margin-right: 40px;
}

.studio {
    color: #2e2f42;
}

 .logo:hover,
 .logo:focus{
    color: #404BBF;
}

.title .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title .link:hover,
.title .link:focus {
    color: #404bbf;
}


.our_contacts .link {
    color: #434455;
}

.our_contacts .link:hover,
.our_contacts .link:focus{
    color: #404BBF;
}


/*_________________________________________________first Section__________________________________________________________________*/
.section_hero {
    padding: 188px 0; 
    margin: 0 0 96px 0;
    background-color: #2E2F42;
    color: #fff;
    margin: 0 0 96px 0;
   
}
.section_hero .container{
    display: block;
    align-items: center;
}

.container .your_busines {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.container .order {
    display: block;
    align-items: center;
    justify-content: center;
    min-width: 169px;
    height: 56px;
    border: none; 

    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    border-radius: 4px;
    padding: 16px 32px;
}

.section_hero .order:hover,
.section_hero .order:focus {
    background-color: #404BBF;
}


/*________________________________________________Second Section________________________________________________________*/

.section_first {
    padding: 120px 0;
    margin: 0 0 96px 0;
}
.section_first .container .feature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
}

.feature .card_container {
    width: calc((100% - 72px) / 4); 
}

.section_first h2 {
    visibility: hidden;
}
.container .description {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.feature .card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}

.feature .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}


/*_______________________________________Third Section__________________________________________________________________*/

.section_second {
    background-color: #F4F4FD;
    padding: 120px 0;
    margin: 0 0 96px 0;

}

.section_second .container .our_team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    padding: 120px 0 120px;
   
}
.our_team .team {
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF; 
}

.section_second .container .description {
    margin-bottom: 72px;
    align-items: flex-start;
    justify-content: center;
}

.team .name_box {
    border-radius: 0px 0px 4px 4px; 
    padding: 32px 0
}

.name_box .card {
    text-align: center;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
 .name_box .text {
    text-align: center; 

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
 }
/*_________________________________________Forty Section_______________________________________________________________________*/
.section_three {
    padding: 120px 0 120px;
  
}


.section_three .container .our_portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
   
}

.our_portfolio .portfolio {
    width: calc((100% - 48px) / 3);
}
.portfolio .object_card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 

}

.section_three .container .description {
    margin-bottom: 72px; 
}

.object_card .card {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.object_card .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*_________________________________________Footer______________________________________________________________________________*/
.boden {
    padding: 100px 0;
    display: block;
    align-items: center;
    justify-content: flex-start;

    background-color: #2e2f42;
}


.container .logo {
    display: inline-block;
    margin-bottom: 16px; 
}

.boden .logo-text {
    max-width: 264px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}