/* #region base */
:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
 a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
 }

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}
.container {
    width: 100%;
    padding: 0 16px;
    margin: 0 auto;
}
  .container  {
     width: 296px;
     padding: 0 4px;
     margin: 0 auto;
     /* outline: solid red; */
  }

@media only screen and (min-width: 768px) {
    .container {
      width: 760px;
      padding: 0 12px;
    }
}
@media only screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    padding: 0 15px;
  }
}


/* #endregion base */

/*#region header */
.header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08); 
}

.header .container {
    display: flex; 
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #e7e9fc;
   
}

.container .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: auto;
}

.navigation .logo {
    display: block;
    padding: 16px 0 16px;
    margin-right: 149px;

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

    transition-property: color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
    .navigation .logo {
     justify-content: flex-start;
     padding: 24px 0 16px;
     margin-right: 120px;
  }
}

@media only screen and (min-width: 1158px) {
    .navigation .logo {
     margin-right: 76px;
     padding: 24px 0 24px 24px;
  }
}
.navigation .logo:hover,
.navigation .logo:focus{
   color: #404BBF;
}
.navigation .title {
        display: none;
    }
.contacts .our_contacts{
        display: none;
    } 
.menu-header {
        min-width: 24px;
        min-height: 24px;
        padding: 16px 16px 16px 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: var(--white);
    }
.nav-icon-menu {
        fill: #2F2F37;
    }

@media only screen and (min-width: 768px) {
    .menu-header {
    display: none;
  }
}


@media only screen and (min-width: 768px) {
        .contacts .our_contacts {
        display: flex;
        flex-direction: column;
        padding: 16px 0;
        gap: 10px;
        margin-right: auto;
    
        color: var(--SLATE, #434455);

        font-size: 12px;
        font-weight: 400;
        line-height: 1.16; 
        letter-spacing: 0.48px;
        font-style: normal;
        flex-shrink: 0;
      }
    }


@media only screen and (min-width: 1158px) {
        .contacts .our_contacts {
            display: flex;
            flex-direction: row;
            gap: 40px;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            line-height: 1.5;
            letter-spacing: 0.02em;
        }
      }
     
@media only screen and (min-width: 768px) {
    .navigation .title {
        margin-right: 121px;
        display: flex;
        gap: 40px;
        padding: 24px 0;
   }
}

.title .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition-property: color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title .link:hover,
.title .link:focus {
    color: #404bbf;
}
.studio {
    color: #2E2F42;
 }
 .title .link-home {
     position: relative;
     padding-top: 24px;
     padding-bottom: 24px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #404bbf;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .title .link-home::after {
     content: '';
     display: block;
     position: absolute;
     border-radius: 2px;
     background-color: #404bbf; 
     width: 100%;
     height: 4px;
     left: 0;
     bottom: -1px;
 }

.our_contacts .link {
    color: #434455;
    transition-property: color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our_contacts .link:hover,
.our_contacts .link:focus{
    color: #404BBF;
}
/* #endregion header */

/* #region hero */
.section_hero {
    max-width: 1440px;
    margin: 0 auto; 
    padding: 72px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/bg_mob@1x.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;   
}
.section_hero .container {
    display: block;
}

@media (min-resolution: 192dpi) {
    .section_hero {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/hero/bg_mob@2x.jpg');
  }
}


@media only screen and (min-width: 768px) {
    .section_hero  {
    padding: 112px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/bg_tab@1x.jpg');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .section_hero {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/hero/bg_tab@2x.jpg');
  }
}

@media only screen and (min-width: 1158px) {
    .section_hero  {
    padding: 188px 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url('../images/hero/bg_des@1x.jpg');
  }
}
@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .section_hero {
        background-color: #2E2F42;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url('../images/hero/bg_des@2x.jpg');
  }
}


.container .your_busines {
    margin: 0 auto 72px;
    
    color: #FFF;
    text-align: center;
    max-width: 496px;

    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
}

@media only screen and (min-width: 768px) {
    .container .your_busines  {
        margin: 0 auto 36px;

        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
  }
}
@media only screen and (min-width: 1158px) {
    .container .your_busines {
        margin: 0 auto 48px;
        
  }
}

.container .order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    min-width: 169px;
    height: 56px;
    border: none; 

    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    border-radius: 4px;
    padding: 16px 32px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container .order:hover,
.container .order:focus {
    background-color: #404BBF;
}

/* #endregion  hero */

/* #region Section 1 */
.section_first  {
    padding: 96px 16px;
}

@media only screen and (min-width: 1158px) {
.section_first {
    padding: 120px 0;
    }
}


.section_first .container .feature {
    background: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 72px;
    align-items: center;
}
@media only screen and (min-width: 768px) {
.section_first .container .feature {
    gap: 24px;
    row-gap: 72px;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1158px) {
.section_first .container .feature {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.icon-container {
    display: none;
}
@media only screen and (min-width: 1158px) {
    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #8e8f99;
        background: #f4f4fd;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        width: 264px;
        height: 112px;
        margin-bottom: 8px; 
    }
}

.icon-container .icon {
    fill: #2E2F42;
}

.icon {
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  
@media only screen and (min-width: 768px) {
.feature .card_container {
        width: calc((100% - 24px) / 2); 
    }
}

 @media only screen and (min-width: 1158px) {
.feature .card_container {
        width: calc((100% - 72px) / 4); 
    }
    
 } 

.section_first .container .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}

.feature .card {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11; 
    letter-spacing: 0.72px;

    margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
 .feature .card  {
    text-align: start;
  }
}

@media only screen and (min-width: 1158px) {
.feature .card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }
}
.feature .text {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}
@media only screen and (min-width: 1158px) {
.feature .text {
        font-weight: 400;
    }
}

/* #endregion Section 1 */

/* #region Section 2 */

.section_second {
    background-color: #F4F4FD;
    padding: 96px 0;
}
@media only screen and (min-width: 1158px) {
.section_second  {
    padding: 120px 0;
  }
}

.section_second .container .our_team {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 72px;
    align-items: center; 
    justify-content: center;
}

@media only screen and (min-width: 768px) {
.section_second .container .our_team{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
  }
}

.container .description {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}


.our_team .team {
    max-width: fit-content;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
    transition-property: box-shadow, backround-color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
.our_team .team  {
    width: calc((100% - 24px) / 2); 
  }
}

@media only screen and (min-width: 1158px) {
.our_team .team {
    width: calc((100% - 72px) / 4); 
  }
}
    
.our_team .team:hover{
    background-color: #fff;
}

.section_second .container .description {
    margin-bottom: 72px;
    align-items: flex-start;
    justify-content: center;
}

.team .name_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 4px; 
    padding: 32px 0
}

.name_box .card {
    text-align: center;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.icon-socialmedia-list {
    display: flex;
    justify-content: center; 
    gap: 24px;
}

.icon {
    display: block;  
}


.socialmedia-link {
    display: flex;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.name_box .icon-socialmedia-list .socialmedia-link:hover,
.name_box .icon-socialmedia-list .socialmedia-link:focus {
    background-color: #404bbf; 
}

.socialmedia-link .icon {
    fill: #F4F4FD;
}

 .name_box .text {
    text-align: center; 
    margin-bottom: 8px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
 }
 /* #endregion Section 2 */

/* #region Section 3 */
.section_three {
    padding: 96px 0; 
}
@media only screen and (min-width: 1158px) {
    .section_three {
        padding: 120px 0; 
    }
}

.section_three .container .our_portfolio {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
    row-gap: 52px;
    justify-content: center;
    align-items: center;
}
@media only screen and (min-width: 768px) {
.section_three .container .our_portfolio {
    flex-direction: row;
    gap: 24px;
    row-gap: 72px;
  }
}
@media only screen and (min-width: 1158px) {
.section_three .container .our_portfolio {
    row-gap: 48px;
  }
}

@media only screen and (min-width: 768px) {
.our_portfolio .portfolio {
    
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    }
}
@media only screen and (min-width: 1158px) {
.our_portfolio .portfolio {
    
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  }
}
.overflow {
    position: relative;
    overflow: hidden;
}
.overflow-text {
    position: absolute;
    background-color: #4D5AE5;
    color: #F4F4FD;
    display: flex;
    align-items: center;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio:hover .overflow-text {
    transform: translateY(0);
  }

.our_portfolio .portfolio:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.portfolio .object_card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}

.section_three .container .description {
    margin-bottom: 72px; 
}

.object_card .card {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.object_card .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* #endregion Section 3 */

/* #region Footer */
.boden {
    padding: 97.5px 0 96px;
    display: block;
    background-color: #2e2f42;
}
@media only screen and (min-width: 1158px) {
.boden {
    padding: 100px 0;
  }
}

.boden .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
   
    
}
@media only screen and (max-width: 767px) {
    .boden .container {
        gap: 72px;
  }
}
@media only screen and (min-width: 768px) {
.boden .container {
    justify-content: flex-start;
    flex-direction: row;
    align-items: baseline;
    
  }
}
@media only screen and (min-width: 767px) and (max-width: 1157px) {
    .boden .container  {
        gap: 24px;
        padding-left: 108px;
        row-gap: 72px;
       
  }
} 


@media only screen and (min-width: 1158px) {
.boden .container {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.logo-footer-area {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 288px;
 
}
@media only screen and (min-width: 768px) {
.logo-footer-area {
    align-items: flex-start;
    justify-content: flex-start;
    width: 264px;
    }
}
@media only screen and (min-width: 1158px) {
.logo-footer-area {
    margin-right: 120px;
  }
}

.logo-footer-area .logo-footer {
    margin-bottom: 17.5px;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

    transition-property: color;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer-area .logo-footer:hover,
.logo-footer-area .logo-footer:focus {
    color: #404BBF;
}

.socialmedia-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
    .socialmedia-footer {
        align-items: flex-start;
  }
}

@media only screen and (min-width: 1158px) {
.socialmedia-footer { 
        margin-right: 80px; 
    }
}


.boden .logo-text {
    align-items: center;
    justify-content: center;
    width: 264px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


.socialmedia-footer .boden-titel {
    display: flex;
    margin-bottom: 16px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.socialmedia-footer .icon-socialmedia-list {
    gap: 16px;
}
.icon-socialmedia-item {
    width: 40px;
    height: 40px;
    transition: backround-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-socialmedia-item .socialmedia-link:hover,
.icon-socialmedia-item .socialmedia-link:focus {
    background-color: #31d0aa;
}

.subscribe-area {
    display: flex;
    flex-direction: column;
    background-color: var(--navy-blue);
    align-items: center;
}
@media only screen and (min-width: 768px) {
.subscribe-area {
    align-items: flex-start;
  }
}
.form-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
@media only screen and (min-width: 768px) {
.form-email {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
}

.subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--white);
    justify-content: center;
}


.email-user {
    color: var(--white);
    background-color: transparent;
    border: 1px solid var(--white);
    border-radius: 4px;
    width: 264px; 
    height: 40px;

    font-size: 12px; 
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
}
.email-user::placeholder {
    color: var(--cloud);
}

.btn-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 24px;

    border: none;
    border-radius: 4px;
    
    min-width: 165px;
    height: 40px;
    background-color: var(--iris);


    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--white);
    cursor: pointer;
   

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.btn-subscribe:hover,
.btn-subscribe:focus{
    background-color: #404BBF;
}

.plane-link {
    margin-left: 16px;
    top: 8px;
    right: 24px;
    height: 24px;
    width: 24px;
    fill: var(--white);
}
/* #endregion footer */

/* #region Backdrop */
.backdrop {
position: fixed;
top: 0;
left: 0;
background: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
width: 100%;
height: 100%;
flex-shrink: 0;
pointer-events: none;
opacity: 0;
visibility: hidden;

transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}


.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}


.modal {
    width: 288px;
    border-radius: 4px;
    background-color: var(--DAIRY, #FCFCFC);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 
        0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    min-height: 584px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 16px 24px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
@media only screen and (min-width: 768px) {
    .modal {
        width: 408px;
        padding: 72px 24px 24px;
  }
}

.btn-close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    
    position: absolute;
    top: 24px;
    right: 24px;
    
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color:  #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close {
    fill: #2E2F42;
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-modal:hover,
.btn-close-modal:focus {
    background-color:#404BBF;
    border: none;
}

.btn-close-modal:hover > .modal-close,
.btn-close-modal:focus > .modal-close {
    fill: #FFFFFF;
}

.modal-titel {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;

    margin-bottom: 16px;
}



.modal_list_item {
    margin-bottom: 8px;
}

.modal_label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
    
}
.modal_box {
    position: relative;
}
.modal_input {
    height: 40px;
    width: 100%;
    outline: none;
    padding: 11px 11px 11px 38px;
    outline: transparent;

    border-radius: 4px;
    background-color: transparent;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
   
}

.modal_input:focus {
    border-color: #4D5AE5;
}
.modal_label_icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:focus + .modal_label_icon {
    fill: #4D5AE5;
}

.modal_user_comment {
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
}

.modal_textarea_box {
    margin-bottom: 16px;
}

.modal_text_textarea {
    width: 100%;
    height: 120px;
    font-size: 12px; 
    line-height: 1.17; 
    letter-spacing: 0.04em;
    padding: 8px 16px;
    border-radius: 4px;
    border-radius: 4px;
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    resize: none;
    background-color: transparent;
    outline: transparent;
    color: rgba(46, 47, 66, 0.4);

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_text_textarea::placeholder { 
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
}

.modal_text_textarea:focus {
    border-color: var(--IRIS, #4D5AE5);
}
.checkbox-area {
    margin-bottom: 24px;
    display: flex;
}

.checkbox_label {
    display: block;
    color: var(--LIGHT-SLATE, #8E8F99);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
}

.checkbox-user-icon {
    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;

    width: 16px;
    height: 16px;
  
    fill: transparent;
    border-radius: 2px;
    border: 1px solid var(--navy-blue-modal);
    background-color: var(--cloud);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.checkbox_icon {
    fill: var(--cloud);
    width: 10px;
    height: 8px;
}

.checkbox:checked + .checkbox_label > .checkbox-user-icon {
    background-color:#404bbf;
    border: none;
    fill: #F4F4FD;
}


.checkbox_link_span {
    color: var(--IRIS, #4D5AE5);
    
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.48px;
    text-decoration: underline;
}

.btn-send {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    text-align: center;
    justify-content: center;

    min-width: 169px;
    height: 56px;


    border-radius: 4px;
    border: none;
    background-color: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    color: var(--WHITE, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.btn-send:hover,
.btn-send:focus {
    background-color: var(--OCEAN, #404BBF);
} 
/* #endregion backdrop */
/* #region mobail menu */

.mobile_menu {
    position: fixed;   
    inset: 0;
    margin: 0 auto;
    background-color: #fff;
    padding: 72px 16px 40px 16px;
   

    display: flex;
    flex-direction: column;
   

    transform: translateX(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform; 
 }
.mobile_menu.is-open {
    transform: translateX(0);
}  
@media only screen and (min-width: 768px) {
.mobile_menu  {
       display: none;
  } 
  }
  
.btn-close-menu {
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    top: 24px;
    right: 24px;
    min-height: 24px;
    min-width: 24px;
}

.titel_mobail_menu {
    display: flex;
    flex-direction: column;
    
    flex-grow: 1;
    gap: 40px;
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
}
.link_mobail_menu.activ {
    color: var(--OCEAN, #404BBF);
}


.link_mobail_menu {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
}

.our_contacts_mobail {
    display: flex;
    flex-direction: column;
    gap: 24px;

    
    margin-bottom: 48px;
}

.link_menu_adress {
    color: var(--SLATE, #434455);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;

}
.link_menu_adress[href*="tel"] {
    color: #4D5AE5;
}
.icon-socialmedia-list_mobail {
    display: flex;
    gap: 40px;
  
}

/* #endregion mobail menu */
