
body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
 a {
    text-decoration: none;
 }

img {
    display: block;
    max-width: 100%;
    margin-bottom: 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/*_____________________________________________________Header___________________________________________________________________*/

.header {
    border-bottom: 1px solid #e7e9fc;
}



.header .container {
    display: flex; 
    align-items: baseline;
   
}



.container .navigation {
    display: flex;
    align-items: baseline;

}
.navigation .title {
    display: flex;
    gap: 40px;
   
}
 .title .link {
    display: block;
    padding: 24px 0;
}

.navigation .title :not(:last-child){
    margin-right: 40px;
}

.navigation .logo {
    display: block;
    margin-right: 76px;
   

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

    
.contacts .our_contacts {
    display: flex;
    align-items: center;
    gap: 40px;

    font-weight: 500;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.our_contacts .link {
    display: block;
    padding: 24px;
}

.contacts .our_contacts :not(:last-child) {
    margin-left: 76px;
}

.studio {
    color: #2e2f42;
}

 .logo:hover,
 .logo:focus{
    color: #404BBF;
}

.title .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.title .link:hover,
.title .link:focus {
    color: #404bbf;
}


.our_contacts .link {
    color: #434455;
}

.our_contacts .link:hover,
.our_contacts .link:focus{
    color: #404BBF;
}


/*_________________________________________________#region Hero__________________________________________________________________*/
.section_hero {
    padding: 188px 0; 
    margin: 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url('../images/people-office.jpg');
    height: 600px; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: #fff;
   
}
.section_hero .container{
    display: block;
    align-items: center;
    
}


.container .your_busines {
    margin-left: auto;
    margin-right: auto;

    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.container .order {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    min-width: 169px;
    height: 56px;
    border: none; 

    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;

    border-radius: 4px;
    padding: 16px 32px;
}

.section_hero .order:hover,
.section_hero .order:focus {
    background-color: #404BBF;
}


/*________________________________________________Second Section________________________________________________________*/

.section_first {
    padding: 120px 156px 282px;
    margin: 0 0 26px 0;
}
.section_first .container .feature {
    background: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
}
.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    width: 264px;
    height: 112px;
}

.icon {
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  

.feature .card_container {
    width: calc((100% - 72px) / 4); 
}

.section_first .container .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
}
.container .description {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.feature .card {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-top: 8px;
}

.feature .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}


/*_______________________________________Third Section__________________________________________________________________*/

.section_second {
    background-color: #F4F4FD;
    padding: 120px 0;
    margin: 0 0 96px 0;

}

.section_second .container .our_team {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    align-items: center;
    padding: 120px 0 120px;
   
}
.our_team .team {
    width: calc((100% - 72px) / 4); 
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF; 
}

.section_second .container .description {
    margin-bottom: 72px;
    align-items: flex-start;
    justify-content: center;
}

.team .name_box {
    border-radius: 0px 0px 4px 4px; 
    padding: 32px 0
}

.name_box .card {
    text-align: center;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.icon-socialmedia-list {
    display: flex;
    margin: 0;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.icon-socialmedia-item {
    list-style: none;
}
.socialmedia-link {
    display: flex;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #4d5ae5;
    align-items: center;
    justify-content: center;
    
}
.icon {
    display: block;
    
   
}

 .name_box .text {
    text-align: center; 
    padding-bottom: 8px;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
 }
/*_________________________________________Forty Section_______________________________________________________________________*/
.section_three {
    padding: 120px 0 120px;
  
}


.section_three .container .our_portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
   
}

.our_portfolio .portfolio {
    width: calc((100% - 48px) / 3);
}
.portfolio .object_card {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 

}

.section_three .container .description {
    margin-bottom: 72px; 
}

.object_card .card {
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.object_card .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*_________________________________________Footer______________________________________________________________________________*/
.boden {
    padding: 100px 0;
    display: block;
    align-items: center;
    justify-content: flex-start;

    background-color: #2e2f42;
}


.container .logo {
    display: inline-block;
    margin-bottom: 16px; 
}

.boden .logo-text {
    max-width: 264px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}